.table-container {
  padding: 1rem;
  overflow-x: auto;
}

.dynamic-table {
  min-width: 100%;
  border-collapse: collapse; /* Asegura que los bordes se combinen */
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden; /* Para que el borde redondeado se aplique a la tabla */
}

.dynamic-table th,
.dynamic-table td {
  border: 1px solid #e5e7eb;
  padding: 0.75rem 1rem; /* Un poco más de padding para mejor legibilidad */
  text-align: left;
}

.dynamic-table thead {
  background-color: #171922;
}

.dynamic-table th {
  font-weight: 600;
  text-transform: capitalize;
}

/* Estilo para las filas alternas (cebreado) */
.dynamic-table tbody tr:nth-of-type(odd) {
  background-color: #171922;
}

.dynamic-table tbody tr:nth-of-type(even) {
  background-color: #171922;
}

.no-data-message {
  color: #6b7280;
}